$containerWidth: rem(940px);
$baseFontSize: 18px;

//breakpoints
$tablet: 768px;
$phone: 480px;

//color
$blue: #61c4d9;
$darkgreen: #0b4d3c;

//media
@import "files/media.scss";

//normalize
@import "files/normalize.scss";

//etwas
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
@import "layout";

//files
@import "files/hero";
@import "files/header";
@import "files/menu.scss";
@import "files/hamburger.scss";
@import "files/phone-num.scss";
@import "files/features.scss";
@import "files/feature.scss";
@import "files/btn.scss";
@import "files/section.scss";
@import "files/headline.scss";
@import "files/benefits.scss";
@import "files/benefit.scss";
@import "files/benefits-section.scss";
@import "files/reviews__disp.scss";
@import "files/interact-avatar.scss";
@import "files/reviews__switch.scss";
@import "files/reviews-section.scss";
@import "files/delivery-section.scss";
@import "files/form.scss";
@import "files/radio.scss";
@import "files/modal.scss";
@import "files/map-section.scss";
@import "files/footer.scss";
@import "files/socials.scss";
@import "files/slider.scss";
@import "files/slider-section.scss";
@import "files/slider-dropdown.scss";
@import "files/composition.scss";
@import "files/menu-composition.scss";
@import "files/team-section.scss";
@import "files/team.scss";
@import "files/player.scss";
@import "files/products.scss";
@import "files/fixed-menu.scss";
@import "files/promo-menu.scss";