.benefits-section {
    position: relative;
    background: url("/img/icons/list4.svg") left top 15% no-repeat;

    @include phone {
        background: none;
    }

    &::before {
        content: url("/img/icons/granola.svg");
        position: absolute;
        bottom: rem(-110px);
        left: 0;

        @include phone {
            display: none;
        }
    }
}