.benefits {
    display: flex;

    @include phone {
        flex-direction: column;
        text-align: left;
    }
}

.benefits__item {
    flex: 1;
    padding: 0 3%;
    position: relative;

    @include phone {
        display: none;
        padding: 0;
        margin-bottom: rem(17px);
    }

    &::before {
        content: url("/img/icons/shariki.svg");
        position: absolute;
        top: rem(30px);
        right: 0;
        transform: translateX(50%);

        @include phone {
            display: none;
        }
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &::before {
            display: none;
        }

    }
}