.benefit {
    text-align: center;

    @include phone {
        display: flex;
        text-align: left;
    }
}

.benefit__img-wrapper {
    display: inline-block;
    width: rem(128px);
    height: rem(126px);
    position: relative;
    background: #f2f5f4;
    border-radius: 50%;
    overflow: hidden;
}

.benefit__icon {
    width: rem(75px);
    height: rem(69px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__title {
    margin-bottom: rem(10px);
    color: #000;
    font-weight: bold;
    font-size: rem(27px);
}

.benefit__img {
    margin-bottom: rem(17px);
    margin-right: rem(20px);

}