.delivery-section {
    background-image: url(/img/icons/deliv2.png);
    background-size: 100%;
    color: $darkgreen;   

   /* &::before {
        content: url("/img/icons/jagoda3.svg");
        position: absolute;
        bottom: rem(1150px);
        left: rem(51px);
    }

    &::after {
        content: url("/img/icons/list8.svg");
        position: absolute;
        left: rem(1200px);
        bottom: rem(1180px);
    }*/
}