.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: rem(53px);
    height: rem(38px);
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}