.hero-section {
    background:  url("/img/icons/list9.svg") right border-box no-repeat;
    background-color: $blue;
    color: #fff;
    position: relative;

    @include tablet {
        background-position: right bottom 88%;
    }

    &::before, &::after {
        @include tablet {
            display: none;
        }
    }

    &::before {
        position: absolute;
        bottom: rem(-40px);
        left: 2%;
        content: url("/img/icons/list3.svg");
    }

    &::after {
        content: url("/img/icons/nabor.svg");
        position: absolute;
        bottom: rem(-40px);
        right: 0;
    }
}

.hero__title-section {
    width: 45%;

    @include tablet {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &::before {
            content: url(/img/icons/shok-jagod.png);
            width: rem(315px);
            margin-bottom: rem(15px);
        }
    }
}

.hero__icons-section {
    @include tablet {
        display: none;
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(24px) 0 rem(45px);
    background: url("/img/icons/baton\ 3.svg") right center / 50% auto no-repeat;

    @include tablet {
        background: none;
    }
}

.hero__main-title {
    font-size: rem(48px);
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: rem(15px);
    text-transform: uppercase;
}

.hero__title-description {
    font-style: rem(21px);
    margin-bottom: rem(28px);
    padding-right: 10%;

    @include tablet {
        padding: 0 29%;
    }

    @include phone {
        padding: 0 18%;
    }
}

