.menu {
    padding-top: 3px;

    @include tablet {
        display: none;
    }
}

.menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__item {
    margin-right: rem(25px);

    &:last-child {
        margin-right: rem(42px);
    }
}

.menu__link {
   text-decoration: none; 
   white-space: nowrap;
}