.menu {
    margin: 0 30px;
    padding-top: 3px;

    @include tablet {
        display: none;
    }
}

.menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__item {
    margin-right: rem(15px);
    margin-bottom: rem(10px);
    
    &:first-child {
        margin-left: rem(40px);
    }

    &:last-child {
        margin-right: rem(42px);
    }
}

.menu__link {
   text-decoration: none; 
   white-space: nowrap;
}