.reviews__switch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews__switch-item {

    &:hover {
        border-color: #365A49;
    }

    &.active {
        border-color: #365A49;
    }
}