.slider {
    height: 100%;
    margin: 0 auto;
    flex-direction: row;
    overflow: hidden;
}

.slider__box {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: transparent;

    .bx-wrapper {
        border: 0;
        background: transparent;
        box-shadow: none;        
    }
}

.slider__list {
    max-width: 51.875rem;
    background-color: #fff;
    position: relative;
    background-color: transparent;

    @include tablet {
        max-width: 36.3125rem;
    }

    @include phone {
        max-width: 26.3125rem;
    }
}

.slider__item {
    width: 100%;
    display: flex;
    align-items: center;
    transition: right;

    @include tablet {
        flex-direction: column;
        min-width: 35.5rem;
    }

    @include phone {
        flex-direction: column;
        min-width: 26.25rem;
    }
}

.slider__box-desc {
    flex: 1.2;
}

.slider__box-image {
    margin-right: 5rem;
    position: relative;

    @include tablet {
        margin-right: 0;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
}

.slider__img {
    display: block;

    @include tablet {
        max-width: 90%;
    }

    @include phone {
        max-width: 85%;
    }
}

.slider__box-icon {
    background: #87c4d8;
    position: relative;
    width: rem(91px);
    height: rem(91px);
    border-radius: 4px;
    margin-bottom: rem(20px);
    padding: 5px 20px 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &::before {
        content: url(/img/icons/baton4.svg);
        align-content: center;
    }

    @include tablet {
        display: none;
    }

    @include phone {
        display: none;
    }
}

.slider__icon-title {
    font-size: 0.875rem;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.slider__title {
    font-size: 2.25rem;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    color: #0d0d0d;
    margin-bottom: 1.25rem;
    padding: 0;

    @include tablet {
        text-align: center;
        font-size: 1.875rem;
        width: 100%;
        padding: 0;
    }

    @include phone {
        text-align: center;
        font-size: 26px;
    }
}

.slider__footer {
    @include tablet {
        text-align: center;
    }

    @include phone {
        text-align: center;
    }
}

.slider__left {
    position: absolute;
    transform: rotate(180deg);
    top: 50%;
    cursor: pointer;

    @include tablet {
        left: 80px;
        top: 25%;
    }

    @include phone {
        left: 40px;
    }
}

.slider__right {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;

    @include tablet {
        top: 25%;
        right: 70px;
    }

    @include phone {
        right: 20px;
    }
}

.slider__compositions {
    display: none;
    background: #B3B3B3;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(40px);
    border-radius: 4px;
    width: 365px;
}

.slider__compositions-item {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 30px;
    padding: 0 7px;

    &:last-child {
        margin-bottom: 0;
    }
}

.menu-composition__component {
    font-weight: bold;
    color: #000;
}