.socials {
    display: flex;
    align-items: center;
}

.socials__item {
    margin-right: rem(10px);
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: inline-block;
    opacity: .3;
    -webkit-transition: .3s;
    transition: .3s;
}

.socials__link-icon {
    width: 20px;
    height: 20px;
    fill: #000;
    opacity: 0.4;

    &:hover {
        opacity: 1;
    }
}